/* *, ::before, ::after {
    box-sizing: border-box;
} 
.form-control {
    border-radius: 1px;
    border: 1px solid silver;
    width: 60%;
    height: 38px;
}
.form-control:focus {
    outline: 0;
}
.input.form-control {
    text-align: center;
}
.container-search{
    position: relative;
}
.search-grid {
    display: none;
} 
.centered-pills li {
	display: inline;
}
.centered-pills a {
	float: left;
} */

.nav-pill-container {
    text-align: center;
}

.nav-search {
    font-size: 12px;
    color: azure;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    padding:0;
    list-style: none;
    margin: 0;
}

.nav-search > li .filter{
	color: silver;
	border: 1px solid silver;
    margin: 0.7rem;
    text-decoration: none;
    padding: 1rem 1.3rem;
}

.nav-search li:last-child .filter{
    padding-bottom: 0.5rem;
}

.search-icon{
    color: silver;
}

.filter{
    cursor: pointer;
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity:1}
}

.nav-search > li .filter:hover,
.nav-search > li .filter:focus{
	background-color: #333;
	border-color: #333;
    color: azure;
}

.active{
    background-color: #333;
	border-color: #333;
    color: azure;
}