nav {
    width: 100%;
}

nav .nav-textbox {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    left:-10px;
    right:0;
    z-index: 1000;
}

.nav-textbox a:-webkit-any-link {
    text-decoration: none;
}

.nav-item {
    background-color: inherit;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 10px 30px;
    cursor: pointer;
    transform: all 3s ease-in;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    letter-spacing: 0.5rem;
}

.gallery-nav-item{
    background-color: inherit;
    text-decoration: none;
    list-style-type: none;
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 10px 30px;
    cursor: pointer;
    transform: all 3s ease-in;
    border-right: 1px solid silver;
    letter-spacing: 0.5rem;
}

.nav-textbox a:last-child li{
    border-right: none;    
}

.nav-item::after,
.gallery-nav-item::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: silver;
    transition: 0.3s;
}

li.nav-item:hover.nav-item::after,
li.gallery-nav-item:hover.gallery-nav-item::after{
    width: 94%;
}




