.slide-container{
    width: 20rem;
    height: 100%;
    background-color: black;
    transform: perspective(1px) translateY(-50%);
    position: relative;
    top: 50%;
    box-sizing: border-box;
}

.slide-container h2{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    margin: 0;
    position: absolute;
    bottom: 0;
    right:0;
    left: 50%;
    transform: translate(-50%);
}