.logo-city-gem {
  position: relative;
  z-index: 200;
  display: block;
}

.logo-citygem {
  z-index: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 80rem;
  height: auto;
  padding: 15% 25%;
}

.slogan-gem {
  width: 100%;
  position: relative;
}

.title-citygem {
  z-index: 200;
  text-align: center;
  position: absolute;
  width: 100%;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 35px;
  display: block;
  bottom: 15px;
}

.shimmer {
  margin: 0 auto;
  display: inline;
  opacity: 0.8;
}

.shimmer {
  color: rgba(255,255,255,0.1);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, ivory));
  /* background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, ivory)); */
  background-size: 125px 100%;
  -webkit-background-clip: text;
  /* background-clip: text; */
  animation-name: shimmer;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-color: black;
}



@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

.image-background {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(black, silver);
  }

.london-image {
    opacity: 0.5;
}
  
.image-background img {
  width: 100%;
  height: 100%;
  animation: move 40s ease infinite;
  }

@-webkit-keyframes move {
0% {
  transform-origin: left;
  transform: scale(1.0);
}

50% {
  transform: scale(1.1);
}
100% {
  transform-origin: left;
  transform: scale(1.0);
}
}