  .image-background {
    width: 100%;
    height: 50vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    }
    
  .image-background img {
    width: 100%;
    height: 100%;
    animation: move 40s ease infinite;
    -ms-animation: move 40s ease infinite;
    -webkit-animation: move 40s ease infinite;
    -o-animation: move 40s ease infinite;
    -moz-animation: move 40s ease infinite;
    }
  
@-webkit-keyframes move {
  0% {
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    transform: scale(1.0);
    
    -ms-transform: scale(1.0);
    /* IE 9 */
    
    -webkit-transform: scale(1.0);
    /* Safari and Chrome */
    
    -o-transform: scale(1.0);
    /* Opera */
    
    -moz-transform: scale(1.0);
    /* Firefox */
  }

  50% {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    /* IE 9 */
    
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    
    -o-transform: scale(1.1);
    /* Opera */
    
    -moz-transform: scale(1.1);
    /* Firefox */
  }
  100% {
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    transform: scale(1.0);
    
    -ms-transform: scale(1.0);
    /* IE 9 */
    
    -webkit-transform: scale(1.0);
    /* Safari and Chrome */
    
    -o-transform: scale(1.0);
    /* Opera */
    
    -moz-transform: scale(1.0);
    /* Firefox */
  }
}