.gallery-container{
    padding: 5em 0;
    position: relative;
    align-content: center;
    width: 1300px;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .gallery-container {
        padding: 10em 0;
    }
}

.gallery > h1{
    letter-spacing: 30px;
    text-align: center;
} 

.search-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px repeat(auto-fill, 1fr);
    grid-gap: 2rem;
    height: 100%;  
    width: 100%; 
    justify-content: space-around;
    text-align: center;
}

.search-input{
    margin: 1rem auto;
    width: 67%;
    box-sizing: border-box;
    overflow: hidden;
}

.searchbar{
    padding: 1rem;
    width: 100%;
    background-color: inherit;
    border: 1px solid silver;
    color: #333;
    font-size: 12px;
}

input.searchbar::placeholder{
    color:  silver;
    text-transform: uppercase;
}